linode_api_key = "LINODE API KEY"
region = "us-west"
ssh_users = ["my-linode-username"] # This is the linode username. Setting this will allow your SSH keys to be automatically installed.

# Controller
plan_controller = "g6-standard-4"
plan_controller_disk = 163840 # Disk included with the 'g6-standard-4' plan.

# Node
plan_node = "g6-standard-2"
plan_node_disk = 81920

# Backup Server
plan_backup = "g6-standard-1"
plan_backup_disk = 51200

# Metrics
plan_metrics = "g6-standard-2"
plan_metrics_disk = 81920

# Registry
plan_registry = "g6-standard-2"
plan_registry_disk = 81920

# Nameservers
plan_nameserver = "g6-standard-1"
plan_nameserver_disk = 51200
region_nstwo = "us-east"

##
# ComputeStacks

cs_currency = "USD"

# The region name. Should be lower case, without spaces, and only '-' and '_' characters
region_name = "linode"

##
# Domains
zone_name = "example.org"

# Each container will receive a unique subdomain from this domain by default.
# We also need to tell CS what the zone file is in order to provision wildcard SSL for the load balancer.
cs_app_url = "a.linode" # ${cs_app_url}.${zone_name}

# The domain for the controller
cs_portal_domain = "portal.linode" # ${cs_portal_domain}.${zone_name}

# domain for the builtin container registry
cs_registry_domain = "cr.linode" # ${cs_registry_domain}.${zone_name}

# Internal URL for metrics.
# We ask for a domain so that we may generate a LetsEncrypt certificate for it
cs_metrics_domain = "metrics.linode" # ${cs_metrics_domain}.${zone_name}

# PowerDNS
primary_nameserver_zone = "example.net"
primary_nameserver_domain = "ns1.linode"
secondary_nameserver_zone = "example.org"
secondary_nameserver_domain = "ns2.linode"

##
# CS User
cs_admin_email = "admin@cstacks.local"

##
# Cloudflare
# cloudflare_api_token = ""
# cloudflare_account_id = ""
